.ProseMirror p {
  padding: 5px;
}

.ProseMirror {
  /* Creates a new stacking context. Will keep any negative z-indexed
   child elements from slipping behind thing outside of the editor. 
   Not actually needed yet, but a good failsafe. */
  isolation: isolate;
}

[role="menuitem"] [aria-pressed="true"] {
  background-color: var(--active-button-background-color, blueviolet);
}

[role="menubar"] {
  display: flex;
  list-style: none;
}

.gif-search-popup {
  width: min(430px, 65vw);
}

.gif-previews {
  /* display: grid; */
  /* grid-template-columns: repeat(4, auto);
  grid-auto-flow: row; */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  margin: 8px 0;
  padding: 0;
}

.gif-search-popup label {
  display: flex;
  gap: 4px;
  min-width: max-content;
  margin-block-start: 8px;
}

.base-block {
  background-color: cornflowerblue;
}

[data-spoilers="true"] {
  position: relative;
  display: block;
  cursor: pointer;
}

[data-spoilers="true"]::after {
  content: "";
  background-color: var(--block-spoilers-background-color, rgba(255, 0, 0));
  background-image: var(--block-spoilers-image-url, url(https://firebasestorage.googleapis.com/v0/b/bobaboard-fb.appspot.com/o/images%2Fadmin%2Fspoilers.png?alt=media&token=a343aee0-e90f-4379-8d41-1cac1f65f7ee));
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  white-space: pre;
  z-index: 99;
}

.ProseMirror[contenteditable="true"] [data-spoilers="true"]::after {
  opacity: 0.1;
}

[data-spoilers="true"][data-visible="true"]::after {
  display: none;
}

[data-type="inlineSpoilers"] {
  color: transparent;
  background-color: var(--inline-spoilers-color, black);
  border: 1px dashed var(--inline-spoilers-color, black);
  padding: 1px;
}

.ProseMirror[contenteditable="true"] [data-type="inlineSpoilers"] {
  color: inherit;
  background-color: var(--inline-spoilers-editable-bg-color, rgb(0 0 0 / 0.2));
}

[data-type="inlineSpoilers"][data-visible="true"] {
  color: inherit;
  background-color: transparent;
}

.ProseMirror[contenteditable="false"] [data-type="inlineSpoilers"] {
  cursor: pointer;
}
