.tiptap[contenteditable="true"] span[data-type="inline-spoilers"] {
  background-color: lightgray;
  border: 1px dashed black;
}

.tiptap[contenteditable="false"]
  span[data-type="inline-spoilers"][data-visible="false"] {
  background-color: black;
}

.tiptap[contenteditable="false"]
  span[data-type="inline-spoilers"][data-visible="true"] {
  border: 1px dashed black;
}
